<h1>Edit Review</h1>

		<% if @comment.user_id == current_user.id %>

 			<%= simple_form_for([@event, @comment]) do |f| %>
 				<%= f.input :text %>
 				<%= f.button :submit, :class => "btn-custom2" %>
 			<% end %>

 		<% else %>

 			<h3>You're not allowed to edit this comment</h3>

 		<% end %>