<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :date %>
	<%= f.input :place %>
    <%= f.button :submit, class: " btn btn-success" %>
<% end %>