<div class="container">
	<h1>Editing Event</h1>

	<p><%= render 'form', route: @event %></p>
	<p><%= link_to 'Show', @event, class: "btn btn-primary active" %>
	<%= link_to 'Back', events_path, class: "btn btn-primary active" %></p>
</div>