<% @events.each do |event| %>
  <div class="col-md-3">
    <h1><%= event.name %></h1>
    <%= event.description %>
    <%= event.date %>
    <%= link_to 'Show', event_path(event), class: "btn btn-info" %>
  </div>
<% end %>
