<div class="container">
  <div class="well">
    <div>
	  <h2>Name: <%= @event.name %></h2>
	  <h2>Descritpion: <%= @event.description %></h2>
	  <h2>Time and date: <%= @event.date %></h2>
	  <h2>Place: <%= @event.place %></h2>
	</div>
    <%= link_to "add comment", new_event_comment_path(@event), class: "btn btn-primary active" %>
    <%= render @event.comments %>
      <%= link_to 'Back', events_path, class: "btn btn-primary active" %>
      <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary active" %>
    </div>
  </div>
</div>
